#parse("header.vm")
<div id="main">
    <!-- Post -->
    <!--article每页三个展示最佳-->
    <h3 style="text-align: center;color: lightseagreen">${articleTag.tagName}</h3>
    #foreach(${article} in ${articlesWithTag})
        <ul class="mini-posts" style="list-style-type:none">
            <li style="margin-top: auto">
                <a class="btn btn-default btn-zan"
                   href="/getArticleMessage/${article.id}/${article.user.userId}">${article.title}</a>
            </li>
        </ul>
    #end
    <ul class="actions pagination">
        #if(${articlesWithTagPageInfo.hasPreviousPage})
            <li>
                <button class="button big previous" id="pre">Previous Page</button>
            </li>
        #end
        #if(!${articlesWithTagPageInfo.hasPreviousPage})
            <li>
                <button class="disabled button big previous" id="pre">Previous Page</button>
            </li>
        #end
        <li><span style="color: #2ebaae">${articlesWithTagPageInfo.pageNum}/${articlesWithTagPageInfo.pages}</span></li>
        #if(${articlesWithTagPageInfo.hasNextPage})
            <li>
                <button class="button big next" id="next">Next Page</button>
            </li>
        #end
        #if(!${articlesWithTagPageInfo.hasNextPage})
            <li>
                <button class="disabled button big next" id="next">Next Page</button>
            </li>
        #end
    </ul>
</div>

#parse("manageblogsidebar.vm")
</div>


<!-- Scripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/skel.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="/static/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/static/assets/js/main.js"></script>
<script src="https://dn-leanote.qbox.me/js/jquery-1.9.0.min.js"></script>
<script src="https://dn-leanote.qbox.me/js/bootstrap.js"></script>
<script src="https://dn-leanote.qbox.me/js/i18n/msg.zh-cn.js?m=2"></script>
<script src="https://dn-leanote.qbox.me/admin/js/artDialog/jquery.artDialog.js?skin=default"></script>
<script src="https://dn-leanote.qbox.me/js/common.js"></script>
<script src="https://dn-leanote.qbox.me/member/js/member.js"></script>
<script>
    $(function () {
        $("#next").click(function () {
            window.location.href = "/getArticlesWithTag/${articleTag.tagId}/" +${articlesWithTagPageInfo.nextPage};
        });
        $("#pre").click(function () {
            window.location.href = "/getArticlesWithTag/${articleTag.tagId}/" +${articlesWithTagPageInfo.prePage};
        });
        $("#logout").click(function () {
            $.ajax({
                type: "POST",
                url: "/user/logOut",
                success: function (data) {
                    if (data == "logout_succ") {
                        window.location.href = "/mainHome/1";
                    }
                }
            });
        });
    });
</script>
</body>