#parse("header.vm")
<div id="main">
    <!-- Post -->
    <!--article每页三个展示最佳-->
    <article class="post" back>
        <div id="formData">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="alert alert-danger" id="baseMsg" style="display: none"></div>
                    <div role="form" id="userBlogForm">
                        <div class="form-group">
                            <label for="title">友链名</label>
                            #if(${blogrollInfo.describe})
                                <input type="text" class="form-control" id="Title" name="blogName"
                                       value="${blogrollInfo.describe}" maxlength="20">
                            #else
                                <input type="text" class="form-control" id="Title" name="blogName"
                                       placeholder="请输入友链名" maxlength="20">
                            #end
                        </div>


                        <div class="form-group">
                            <label for="subTitle">友链地址</label>
                            #if(${blogrollInfo.url})
                                <input type="text" class="form-control" id="SubTitle"
                                       name="blogIntro" value="${blogrollInfo.url}">
                            #else
                                <input type="text" class="form-control" id="SubTitle"
                                       name="blogIntro"
                                       placeholder="请输入友链地址">
                            #end
                        </div>

                        <div class="form-group">
                            <label for="aboutMe" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <div id="popularToolbar"></div>
                            </div>
                        </div>


                    </div>
                </div>
                <footer class="panel-footer text-right bg-light lter">
                    #if(${blogrollInfo})
                        <button type="submit" id="editBtn" class="btn btn-success">修改</button>
                    #else
                        <button type="submit" id="baseBtn" class="btn btn-success">提交</button>
                    #end
                </footer>
            </section>
        </div>
    </article>
</div>

#parse("manageblogsidebar.vm")

</div>

<!-- Scripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/skel.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="/static/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/static/assets/js/main.js"></script>
<script>
    $(function () {
        $("#editBtn").click(function () {
            var describe = $("#Title").val();
            var url = $("#SubTitle").val();
            var data = {"describe": describe, "url": url};
##            var id = ${blogrollInfo.blogrollId};
            $.ajax({
                type: "POST",
                url: "/editBlogroll/${blogrollInfo.blogrollId}",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    if (data == "edit_succ") {
                        window.location.href = "/blogrollManage";
                    }
                }
            });
        });
        $("#baseBtn").click(function () {
            var describe = $("#Title").val();
            var url = $("#SubTitle").val();
            var data = {"describe": describe, "url": url};
            $.ajax({
                type: "POST",
                url: "/addBlogroll",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    if (data == "add_succ") {
                        window.location.href = "/blogrollManage";
                    }
                }
            });
        });
    });
</script>
</body>
</html>