#parse("header.vm")
<!-- Main -->
<div id="main">
    <!-- Post -->
    <!--article每页三个展示最佳-->
    #foreach(${article} in ${lookHotList})
        <article class="post" back>
            <header style="margin-top: -100px;margin-bottom: 10px">
                <div class="title"  style="margin-bottom: -40px">
                    <h2 style="word-wrap:break-word;word-break:break-all;"><a href="/getArticleMessage/${article.id}/${article.user.userId}">${article.title}</a>
                    </h2>
                </div>
            </header>
        ##            <a href="#" class="image featured"><img src="/static/images/pic01.jpg" alt=""/></a>
            <p >${article.content}</p>
            <div style="display: inline">
                #if(${article.tag})
                    <span href="#" class="icon fa-tag">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                #end
                <span class="icon fa-clock-o">${article.time}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span href="#" class="icon fa-eye">${article.looknum}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span href="#" class="icon fa-heart">${article.likenum}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span href="#" class="icon fa-comment">${article.commentnum}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <font  style="font-size: 20px;float: right"><a href="/showPerosonPage/${article.user.userId}/1"><font color="purple">Author:</font>${article.user.nickName}</a></font>
            </div>
        </article>
    #end
    <!-- Pagination -->
    <ul class="actions pagination">
        #if(${pageInfo.hasPreviousPage})
            <li>
                <button class="button big previous" id="pre">Previous Page</button>
            </li>
        #end
        #if(!${pageInfo.hasPreviousPage})
            <li>
                <button class="disabled button big previous" id="pre">Previous Page</button>
            </li>
        #end
        <li><span style="color: #2ebaae">${pageInfo.pageNum}/${pageInfo.pages}</span></li>
        #if(${pageInfo.hasNextPage})
            <li>
                <button class="button big next" id="next">Next Page</button>
            </li>
        #end
        #if(!${pageInfo.hasNextPage})
            <li>
                <button class="disabled button big next" id="next">Next Page</button>
            </li>
        #end
    </ul>
</div>
#parse("sidebar.vm")

</div>

<!-- Scripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/skel.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="/static/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/static/assets/js/main.js"></script>
<script>
    $(function () {
        $("#next").click(function () {
            window.location.href = "/mainHome/" +${pageInfo.nextPage};
        });
        $("#pre").click(function () {
            window.location.href = "/mainHome/" +${pageInfo.prePage};
        });
        $("#logout").click(function () {
            var logout = $("#logout").val();
            $.ajax({
                type: "POST",
                url: "/user/logOut",
                success: function (data) {
                    if (data == "logout_succ") {
                        //跳过登录页面
                        window.history.replaceState(null, null, "/mainHome/1");
                        window.location.href = "/mainHome/1";
                    }
                }
            });
        })

    });
</script>
</body>
</html>