<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a class="logo" href=""><img src="${blogInfo3.blogUrl}" alt=""/></a>
        <header>
            #if(${blogInfo3.blogName})
                <h5 style="word-wrap:break-word;overflow:hidden;">博客空间：${blogInfo3.blogName}</h5>
            #else
                <h4 style="text-align: left;color: indigo"></h4>
            #end
            #if(${blogInfo3.blogIntro})
                ## style="word-wrap:break-word;overflow:hidden;" 解决英文单词过长问题
                <p style="word-wrap:break-word;overflow:hidden;">博客简介：${blogInfo3.blogIntro}</p>
            #end
            <p>访问人数：<font style="color: purple">${userInfo3.looknum}</font></p>
        </header>
    </section>

    <!--博主简介-->
    <section id="intro">
        <a class="logo" href=""><img src="${userInfo3.headImg}" alt=""/></a>
        <header>
            #if(${userInfo3.nickName})
                <h5 style="word-wrap:break-word;overflow:hidden;">博主昵称：${userInfo3.nickName}</h5>
            #else
                <h4 style="text-align: left;color: indigo"></h4>
            #end
            #if(${userInfo3.userIntro})
                <p style="word-wrap:break-word;overflow:hidden;">博主简介：${userInfo3.userIntro}</p>
            #end
            <p>博主邮箱：${userInfo3.email}</p>
        </header>
    </section>


    <!-- Mini Posts -->
    <section>
        <div class="mini-posts" style="margin-bottom: -43px">
            <!-- Mini Post -->
            <!--每栏四个最佳-->
            <h5 style="margin-top: -30px;text-align: center;color: blueviolet">博客标签</h5>


            <article class="mini-post" style="text-align: center;margin: auto">
                <div>
                    <h5><a href="#">aaaaaa</a></h5>
                </div>

            </article>


        </div>
    </section>

    <section>
        <div class="mini-posts" style="margin-bottom: -43px">
            <!-- Mini Post -->
            <!--每栏四个最佳-->
            <h5 style="margin-top: -30px;text-align: center;color: mediumpurple">阅读排行</h5>
            #foreach(${article} in ${readHot3})
                <article class="mini-post" style="text-align: center;margin: auto">
                    <div>
                        <h5><a href="#">${article.title}</a>
                            <span href="#" class="icon fa-eye" style="color:darkred;">${article.looknum}</span>
                        </h5>
                    </div>
                </article>
            #end
        </div>
    </section>

    <section>
        <div class="mini-posts" style="margin-bottom: -43px">
            <!-- Mini Post -->
            <!--每栏四个最佳-->
            <h5 style="margin-top: -30px;text-align: center;color: rebeccapurple">评论排行</h5>
            #foreach(${article} in ${commentHot3})
                <article class="mini-post" style="text-align: center;margin: auto">
                    <div>
                        <h5><a href="#">${article.title}</a>
                            <span href="#" class="icon fa-comment" style="color:darkred;">${article.commentnum}</span>
                        </h5>
                    ##                        <a href="#" class="author"><img src="${article.user.headImg}" alt=""/></a>
                    </div>
                </article>
            #end
        </div>
    </section>

    <section>
        <div class="mini-posts" style="margin-bottom: -43px">
            <!-- Mini Post -->
            <!--每栏四个最佳-->
            <h5 style="margin-top: -30px;text-align: center;color: purple">推荐文章</h5>
            #foreach(${article} in ${likeHot3})

                <article class="mini-post" style="text-align: center;margin: auto">
                    <div>
                        <h5><a href="#">${article.title}</a>
                            <span href="#" class="icon fa-heart" style="color:darkred;">${article.likenum}</span>
                        </h5>

                    </div>
                </article>
            #end
        </div>
    </section>

    <!-- About -->
    <section class="blurb">
        <h2>About</h2>
        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet
            placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
        <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <section id="footer">
        <!--友情链接-->
        <nav class="links">
            <ul>
                <li><a href="http://www.baidu.com">百度</a></li>
                <li><a href="http://www.coder520.com">码码在线</a></li>
            </ul>
        </nav>
    </section>
</section>

