<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a class="logo" href="/mainHome/1" ><img  src="/static/images/weblogo2.jpg" alt=""/></a>
        <header>
            <h2><span style="color: greenyellow">原</span><span style="color: lawngreen">谅</span><span
                    style="color: limegreen">色</span></h2>
            <p><span style="color: gold">阳光</span>,<span style="color: orange">沙滩</span>,<span style="color: orangered">海浪</span>,<span
                    style="color: red">人字拖</span>!</p>
        </header>
    </section>


    <!-- Mini Posts -->
    <section>
        <div class="mini-posts">
            <!-- Mini Post -->
            <!--每栏四个最佳-->
            #foreach(${article} in ${likeHotList})
                <article class="mini-post">
                    <header>
                        <h3><a href="#">${article.title}</a></h3>
                        <a href="#" class="author"><img src="${article.user.headImg}" alt=""/></a>
                        <span href="#" class="icon fa-heart" style="color: darkred">${article.likenum}</span>
                    </header>
                ##                    <a href="#" class="image"><img src="/static/images/pic04.jpg" alt=""/></a>
                </article>
            #end
        </div>
    </section>

    <!-- Posts List -->
    <section>
        <h3 style="color: limegreen">最新发布</h3>
        <ul class="posts">
            <!--每栏5个最佳-->
            #foreach(${article} in ${recentPublishList})
                <li>
                    <article>
                        <header>
                            <h3><a href="#">${article.title}</a></h3>
                            <time class="published" datetime="2015-10-20">${article.time}</time>
                        </header>
                    ##                    <a href="#" class="image"><img src="/static/images/pic02.jpg" alt=""/></a>
                    </article>
                </li>
            #end
        </ul>
    </section>

    <!-- About -->
    <section class="blurb">
        <h2>About</h2>
        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet
            placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
        <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <section id="footer">
        <!--友情链接-->
        <nav class="links">
            <ul>
                <li><a href="http://www.baidu.com">百度</a></li>
                <li><a href="http://www.coder520.com">码码在线</a></li>
            </ul>
        </nav>
    </section>
</section>

