<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a class="logo" href=""><img src="${blogInfo1.blogUrl}" alt=""/></a>
        <header>
            <h5 style="word-wrap:break-word;overflow:hidden;">博客空间：${blogInfo1.blogName}</h5>
            <p style="word-wrap:break-word;overflow:hidden;">博客简介：${blogInfo1.blogIntro}</p>
            <p>访问人数：<font style="color: purple">${userInfo1.looknum}</font></p>
        </header>
    </section>

    <!--博主简介-->
    <section id="intro">
        <a class="logo" disabled="true"><img src="${userInfo1.headImg}" alt=""/></a>
        <header>
            <h5 style="word-wrap:break-word;overflow:hidden;">博主昵称：${userInfo1.nickName}</h5>
            <p style="word-wrap:break-word;overflow:hidden;">博主简介：${userInfo1.userIntro}</p>
            <p>博主邮箱：${userInfo1.email}</p>
        </header>
    </section>


    <!-- Mini Posts -->
    <section>
        <div class="mini-posts" style="margin-bottom: -43px">
            <!-- Mini Post -->
            <!--每栏四个最佳-->
            <h5 style="margin-top: -30px;text-align: center;color: blueviolet">博客标签</h5>


            <article class="mini-post" style="text-align: center;margin: auto">
                <div>
                    <h5><a href="#">aaaaaa</a></h5>
                </div>

            </article>


        </div>
    </section>

    <section>
        <div class="mini-posts" style="margin-bottom: -43px">
            <!-- Mini Post -->
            <!--每栏四个最佳-->
            <h5 style="margin-top: -30px;text-align: center;color: mediumpurple">阅读排行</h5>
            #foreach(${article} in ${readHot1})
                <article class="mini-post" style="text-align: center;margin: auto">
                    <div>
                        <h5><a href="/getArticleMessage/${article.id}/${article.user.userId}">${article.title}</a>
                            <span href="#" class="icon fa-eye" style="color:darkred;">${article.looknum}</span>
                        </h5>
                    </div>
                </article>
            #end
        </div>
    </section>

    <section>
        <div class="mini-posts" style="margin-bottom: -43px">
            <!-- Mini Post -->
            <!--每栏四个最佳-->
            <h5 style="margin-top: -30px;text-align: center;color: rebeccapurple">评论排行</h5>
            #foreach(${article} in ${commentHot1})
                <article class="mini-post" style="text-align: center;margin: auto">
                    <div>
                        <h5><a href="/getArticleMessage/${article.id}/${article.user.userId}">${article.title}</a>
                            <span href="#" class="icon fa-comment" style="color:darkred;">${article.commentnum}</span>
                        </h5>
                    ##                        <a href="#" class="author"><img src="${article.user.headImg}" alt=""/></a>
                    </div>
                </article>
            #end
        </div>
    </section>

    <section>
        <div class="mini-posts" style="margin-bottom: -43px">
            <!-- Mini Post -->
            <!--每栏四个最佳-->
            <h5 style="margin-top: -30px;text-align: center;color: purple">推荐文章</h5>
            #foreach(${article} in ${likeHot1})

            <article class="mini-post" style="text-align: center;margin: auto">
                <div>
                    <h5><a href="/getArticleMessage/${article.id}/${article.user.userId}">${article.title}</a>
                        <span href="#" class="icon fa-heart" style="color:darkred;">${article.likenum}</span>
                    </h5>

                </div>
            </article>
            #end
        </div>
    </section>


    <!-- Footer -->
    <section id="footer">
        <!--友情链接-->
        <nav class="links">
            <ul>
                #foreach(${blogroll} in ${blogrollInfo1})
                    <li><a href="${blogroll.url}">${blogroll.describe}</a></li>
                #end
            </ul>
        </nav>
    </section>
</section>

