<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="#" class="logo"><img src="/static/images/weblogo2.jpg" alt=""/></a>
        <header>
            <h2>Future Imperfect</h2>
            <p>Another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
        </header>
    </section>

    <!-- Mini Posts -->
    <section>
        <div class="mini-posts">
            <!-- Mini Post -->
            <!--每栏四个最佳-->
            <article class="mini-post">
                <header>
                    <h3><a href="#">Vitae sed condimentum</a></h3>
                    <time class="published" datetime="2015-10-20">October 20, 2015</time>
                    <a href="#" class="author"><img src="/static/images/avatar.jpg" alt=""/></a>
                </header>
                <a href="#" class="image"><img src="/static/images/pic04.jpg" alt=""/></a>
            </article>
        </div>
    </section>

    <!-- Posts List -->
    <section>
        <ul class="posts">
            <!--每栏5个最佳-->
            <li>
                <article>
                    <header>
                        <h3><a href="#">Lorem ipsum fermentum ut nisl vitae</a></h3>
                        <time class="published" datetime="2015-10-20">October 20, 2015</time>
                    </header>
                    <a href="#" class="image"><img src="/static/images/pic08.jpg" alt=""/></a>
                </article>
            </li>
        </ul>
    </section>

    <!-- About -->
    <section class="blurb">
        <h2>About</h2>
        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet
            placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
        <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <section id="footer">
        <!--友情链接-->
        <nav class="links">
            <ul>
                <li><a href="http://www.baidu.com">百度</a></li>
                <li><a href="http://www.coder520.com">码码在线</a></li>
            </ul>
        </nav>
    </section>
</section>